/* Reset de base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    }

/* Conteneur global */
.qcontainer {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* --- HEADER TOP --- */
.qheader-top {
    background-color: #f4f4f4;
    font-size: 14px;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}
.qheader-top-left span,
.qheader-top-right span {
    margin-right: 20px;
    color: #444;
}
.qheader-top i {
    color: #437305;
    margin-right: 6px;
}
.qheader-top .qcontainer {
    flex-wrap: wrap;
}
.qheader-top-left,
.qheader-top-right {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    }

/* --- HEADER MAIN --- */
.qheader-main {
    background-color: #3f73a3;
    color: white;
    padding: 15px 0;
}
.qlogo img {
    height: 60px;
}
.qheader-right {
    display: flex;
    align-items: center;
    gap: 30px;
}
.qcontact-phone {
    display: flex;
    align-items: center;
    gap: 10px;
}
.qcontact-phone i {
    font-size: 22px;
}
.qcontact-phone p {
    font-size: 14px;
    margin: 0;
}
.qcontact-phone strong {
    font-size: 16px;
}
.qsearch i {
    font-size: 18px;
    cursor: pointer;
}
.qsocial-icons i {
    margin-left: 15px;
    cursor: pointer;
    font-size: 16px;
}

/* --- NAVBAR --- */
.qnavbar {
    padding: 0px 0;
    position: relative;
    z-index: 2;
}

.qnavbar .qcontainer {
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(256, 256, 256, 1);
    padding: 10px 20px;
}

.qnav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.qnav-links li a {
    color: black;
    text-decoration: none;
    padding: 8px 12px;
}


/* --- HERO --- */
.qhero-wrapper {
    background-image: url("images/Page contact/medicine-capsules-global-health-with-geometric-pattern-digital-remix.jpg"); /* à adapter */
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  /* Supprime le background ici, car il est géré dans le wrapper */
  .qhero-prestations {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px; /* Ajustable selon effet souhaité */
  }
  
  .qtitre-prestations {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    color: white;
  }
  
/* --- MAIN CONTENT --- */
.qmain-content {
    padding: 60px 0;
}
.qmain-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #444;
}


